{% load i18n %}
{% load icon from django_ledger %}

<div class="navbar-item has-dropdown is-hoverable">

    <a class="navbar-link">{% trans 'Feedback' %}</a>

    <div class="navbar-dropdown">

        <a class="navbar-item"
           href="https://github.com/Deekshithmmm/Double-entry-ledger/issues/new?title=Bug%20Report"
           target="_blank">
           Report a Bug
        </a>

        <a class="navbar-item"
           href="https://github.com/Deekshithmmm/Double-entry-ledger/issues/new?title=Feature%20Request"
           target="_blank">
           Request a Feature
        </a>

    </div>

</div>