<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Django Ledger</strong> by <a href="https://x.com/DeekshithMMM" target="_blank">Deekshith M</a> and
            <a href="https://www.instagram.com/the_dhanuxh_rana?igsh=MTJ2enlicWNpa2FqaA==" target="_blank">Dhanush B K</a> The source code is licensed
            <a href="https://github.com/Deekshithmmm/InventoryManagementSystem.git" target="_blank">ProjectLEdger</a>
        </p>
        {% if user.is_superuser %}
            <a href="/admin">Admin</a>
        {% endif %}
    </div>
</footer>