<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Django Ledger</strong> by <a href="https://www.instagram.com/bhoomika_devanga9?igsh=emtrc3Y3aWRhZWx4" target="_blank">Bhoomika H</a> and
            <a href="https://www.instagram.com/chandu._636?igsh=Y3Vud2xudjBlbGFm" target="_blank">Chandana B K</a>. The source code is licensed
            <a href="https://github.com/bhoom555" target="_blank">ProjectLEdger</a>
        </p>
        {% if user.is_superuser %}
            <a href="/admin">Admin</a>
        {% endif %}
    </div>
</footer>